<html>
<head>
</head>
<body>
    <div id="main">
        <div class="panel">
            <h2>{{ title }}</h2>
            {{ description }}
            <div id="data-div">
                <div id="projects">
                    <h3>Data</h3>
                </div>
                <table id="data-table" class="display">
                    <thead>
                        <tr>
                            <th>Species</th>
                            <th>Strain</th>
                            <th>Sample</th>
                            <th>Runs</th>
                            <th>Automated Assembly</th>
                            <th>Manual Assembly</th>
                            <th>Manual Assembly Chromosome Contig Number</th>
                            <th>Manual Assembly Plasmid Contig Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data -%}
                        <tr>
                            <td>{{ row['Species'] }}</td>
                            <td>{{ ena_link(row['Sample Accession'], row['Strain']) }}</td>
                            <td>{{ ena_link(row['Sample Accession']) }}</td>
                            {% if row['Run Accessions'] -%}
                            <td>{{ row['Run Accessions'] | map('ena_link') | join('<br>') }}</td>
                            {% else -%}
                            <td>Pending</td>
                            {%- endif -%}
                            {% if row['Automatic GFF URL'] -%}
                            <td><a href="{{ row['Automatic GFF URL'] }}">GFF</a></td>
                            {% else -%}
                            <td>Pending</td>
                            {%- endif -%}
                            {% if row['Manual EMBL URL'] != None and row['Manual GFF URL'] != None -%}
                            <td><a href="{{ row['Manual EMBL URL'] }}">EMBL</a><br><a href="{{ row['Manual GFF URL'] }}">GFF</a></td>
                            {% elif row['Manual EMBL URL'] != None -%}
                            <td><a href="{{ row['Manual EMBL URL'] }}">EMBL</a></td>
                            {% elif row['Manual GFF URL'] != None -%}
                            <td><a href="{{ row['Manual GFF URL'] }}">GFF</a></td>
                            {% else -%}
                            <td>Pending</td>
                            {%- endif -%}
                            {% if row['Manual Assembly Chromosome Contig Number'] != None -%}
                            <td>{{ row['Manual Assembly Chromosome Contig Number'] | int }}</td>
                            {% else -%}
                            <td>Pending</td>
                            {%- endif -%}
                            {% if row['Manual Assembly Plasmid Contig Number'] != None -%}
                            <td>{{ row['Manual Assembly Plasmid Contig Number'] | int }}</td>
                            {% else -%}
                            <td>Pending</td>
                            {%- endif %}
                        </tr>
                        {% endfor -%}
                    </tbody>
                </table>
                <div id='data-updated'></div>
            </div>
            <div id="published_data_description" class="display"></div>
            <div id="publications" class="display"></div>
        </div>
    </div>
    <div id="rhs">
        <div class="panel">
            <div id="stats" class="display">
                <h4>Current Statistics</h4>
                <ul>
                    <li>Number of species sequenced: {{ stats['sequences'] }}</li>
                    <li>Number of samples: {{ stats['samples'] }}</li>
                    <li>Number of samples manually assembled: {{ stats['manual_assemblies'] }}</li>
                    <li>Number of samples automatically assembled: {{ stats['automatic_assemblies'] }}</li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <h4>Links</h4>
            <ul>
            {% for link in links %}
                <li><a href="{{ link['url'] }}">{{ link['text'] }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="panel">
            <h4>Data Use Statement</h4>
            <p>This sequencing centre plans on publishing the completed and annotated sequences in a
peer-reviewed journal as soon as possible. Permission of the principal investigator should be
obtained before publishing analyses of the sequence/open reading frames/genes on a chromosome or
genome scale. See our <a href="/about/who-we-are/policies/open-access-science">data sharing policy</a>.</p>
        </div>
        <div class="panel">
            <h4>Contact</h4>
            <p>Please address all sequencing enquiries to
<a href="mailto:julian.parkhill@sanger.ac.uk">Prof. Julian Parkhill</a>.</p>
        </div>
    </div>
    <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
      $("#data-table").DataTable();
    })
    </script>
</body>
